<div class="container mt-5">

  <ul>
    <li class="row mt-2" *ngFor="let post of posts">
      <div class="col-sm-4">{{post.title}}</div>
      <div class="col-sm-2 pull-right">
        <a [routerLink]="['/post', post.id]">View Post</a>
      </div>
      <div class="col-sm-2 pull-right">
        <a [routerLink]="['/edit', post.id]">Edit Post</a>
      </div>
      <div class="col-sm-2 pull-right">
        <button type="button" class="btn btn-default mr-2 p-0" (click)="show(post)">
          Preview
        </button>
      </div>
    </li>
  </ul>

</div>